*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
.main{
  height:100vh;
  /* width:100vw; */
  background-image: linear-gradient(to bottom, rgb(225, 247, 245) 30%, rgb(255, 247, 255) 70%); 
}
/* Form */
.form-banner img{
  height: 100vh;
  width:70vw;
  background-image: linear-gradient(to bottom, rgb(225, 247, 245) 30%, rgb(255, 247, 255) 70%);
}
.form-container{
  display:flex;
  align-items:center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgb(225, 247, 245) 30%, rgb(255, 247, 255) 70%);
  min-height: 100vh;
}
.auth-button{
  transition: all ease 0.2s;
}
.auth-button:active{
  scale:0.9;
}
/* *************************
Loader  */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
  navbar
 */
 .navbar {
  background-color: rgb(225, 247, 245)!important;
  color: black !important;
  position:fixed;
}
.nav-link,
.navbar-brand {
  /* background-color: ; */
  color: black !important;
}